.RMain {
    display: flex;
    height: 876.48px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    flex-direction: column;
}
.RLeft{
    display: flex;
    width: 338.552px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 150px;
    margin-top: 115px;
}
.RLeft h2{
    color: #050B20;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.item{
    display: flex;
    width: max-content;
    height: 357px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    justify-content: space-between;
}
.banner{
    width: 328px;
    height: 218.65px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    padding: 21.05px 14.686px 2.94px 15px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background: url(<path-to-image>) lightgray 0px -0.005px / 100% 100.005% no-repeat;
}
.status{
    display: flex;
    width: 104.23px;
    height: 29.89px;
    padding: 1.05px 14.686px 2.94px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #3D923A;
    flex-shrink: 0;

}
.status h4{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.9px; /* 185% */
    text-transform: capitalize;
}
.RavorIcon{
    display: flex;
    width: 36px;
    height: 36px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: #FFF;
    flex-shrink: 0;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.Rilter_state{
    height: max-content;
    display: flex;
    justify-self: center;
    width: 328px;
    justify-content: space-between;
    align-items: center;
}
.border{
    display: flex;
    width: 161.095px;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 31px;
}
.border h3{
    color: #050B20;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 120% */

}
.priceBut{
    display: flex;
}
.swiper-scrollbar{
    display: none;
}
