.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--color-header);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    user-select: none;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: var(--font-size-header);
    font-family: var(--font-header);
}
.active{
    color: white !important;
}